@{
    ViewData["Title"] = "Catálogo de Produtos";
}

<div class ="tabela">
    <h2>Catálogo de Produtos</h2>
    <p> "Tabela de Produtos com Condição - MVC" </p>
</div>

<div>
    <table border="1">
        
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Preço</th>
            </tr>
        </thead>

    <tbody>

        @for (int i = 0; i < ViewBag.produtos.Count; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@ViewBag.produtos[i]</td>
                <td>R$ @ViewBag.precos[i].ToString("N2")</td>
            </tr>
        }
    </tbody>
    
</div>

</table>